body{
    background-color: grey;
}

a{
    text-decoration: none;
}

.bg-white{
    background-color: white;
    margin: 1em;
    padding-left: 10px;
    align-self: flex-start;

}

.ligneOne{
    display: flex;
    justify-content: center;
}

img{
    width: 10em;
}

.arbre{
    width: auto;
    height: 450px;
}

.tree{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.ligneTwo{
    display: flex;
    justify-content: space-between;

}

.carre{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    width: 400px;
}

.carre div{
    display: flex;
    flex-direction: column;
}